main{
    padding: 36px;
}
.meme-form{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}
.form-input{
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}
.form-button{
    grid-column: 1 / -1;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}
.meme-img{
    max-width: 100%;
}
.meme{
    position: relative;
    text-align: center;
    color: white;
}
.meme-top-text{
    position: absolute;
    top: 3px;
    width: 100%;
    text-align: center;
}
.meme-bottom-text{
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}
#dark input{
    background-color: rgb(32, 32, 32);
    color: white;
    border: 1px solid #D5D4D8;
}